# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
b&b/
pyvenv.cfg
Scripts/
Lib/

# Jupyter
.ipynb_checkpoints/

# Data / artifacts (do NOT commit sensitive or large files)
dataset/


# OS
.DS_Store
Thumbs.db
